BENCH_PYTHON=python
BENCH_CUT_PORT=COM22
BENCH_MUX_PORT=COM20

BENCH_DUTY_ALL_PWM_PINS=true
BENCH_DUTY_CUT_PIN=PA8
BENCH_DUTY_CHANNEL=ch1
BENCH_DUTY_FREQ=1000
BENCH_DUTY_VALUES="0.20 0.70"

BENCH_FREQ_ALL_PWM_PINS=true
BENCH_FREQ_CUT_PIN=PA8
BENCH_FREQ_CHANNEL=ch1
BENCH_FREQ_VALUES="1000 5000 10000"
BENCH_FREQ_DUTY=0.50

BENCH_RISE_FALL_ALL_PWM_PINS=true
BENCH_RISE_FALL_CUT_PIN=PA8
BENCH_RISE_FALL_CHANNEL=ch1
BENCH_RISE_FALL_FREQ=1000
BENCH_RISE_FALL_DUTY=0.50

BENCH_DEAD_TIME_ALL_COMPLEMENTARY=true
BENCH_DEAD_TIME_CUT_PIN_A=PA8
BENCH_DEAD_TIME_CUT_PIN_B=PA9
BENCH_DEAD_TIME_CHANNEL_A=ch1
BENCH_DEAD_TIME_CHANNEL_B=ch2
BENCH_DEAD_TIME_FREQ=1000
BENCH_DEAD_TIME_DUTY=0.50

BENCH_PHASE_ALL_MAIN_PAIRS=true
BENCH_PHASE_CUT_PIN_A=PA8
BENCH_PHASE_CUT_PIN_B=PB12
BENCH_PHASE_CHANNEL_A=ch1
BENCH_PHASE_CHANNEL_B=ch2
BENCH_PHASE_FREQ=1000
BENCH_PHASE_DUTY=0.50
BENCH_PHASE_DEG=45

BENCH_BURST_ALL_PWM_PINS=true
BENCH_BURST_CUT_PIN=PA8
BENCH_BURST_CHANNEL=ch1
BENCH_BURST_FREQ=1000
BENCH_BURST_DUTY=0.50
BENCH_BURST_OFF_CYCLES=15
BENCH_BURST_TOTAL_CYCLES=20
